IMY 210/Examp Prep/EO 3/eo/C XML Schema and Namespaces/ns_f.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="fish.com">
<!-- Carl de Witt u21444928 -->

<xs:element name="name" type="xs:string"/>

<xs:element name="diet" type="xs:string"/>

<xs:element name="fish">
    <xs:complexType>
        <xs:sequence>

            <!-- name -->
            <xs:element name="name" type="xs:string"/>

            <!-- diet -->
            <xs:element name="diet" type="xs:string"/>

            <!-- species -->
            <xs:element name="species" type="xs:string"/>

        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>
